@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="SendRequest" method="post">
    <input type="text" name="requestData" placeholder="Введите данные">
    <button type="submit">Отправить HTTP запрос</button>
</form>
